@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: transparent; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: transparent; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: transparent; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #5c7e8e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #e91e8b; }

.token.function {
  color: #0189f5; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/*--- GENERALS ---*/
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  background: white;
  color: #525e74;
  font-weight: 300; }

/*-- RESET --*/
button,
input {
  font-family: "Montserrat", Arial, sans-serif; }

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-shadow: none;
  box-shadow: none;
  background: #425cca;
  cursor: pointer;
  border: 1px solid #425cca;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  height: 28px;
  line-height: 27px;
  font-size: 13px;
  padding: 0 14px;
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-bottom: 20px; }
  button:focus {
    outline: 0; }
  button:hover {
    background: white;
    color: #425cca; }

.grid {
  list-style: none;
  height: 100%;
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row; }

.item {
  width: 100%;
  box-sizing: border-box;
  padding: 20px; }

.item__inner {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 20px 65px 25px;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out; }
  .item__inner .title {
    font-size: 1.3em; }
  .item__inner .description {
    font-size: 0.9em; }

.item_active button {
  display: none; }
.item_active .item__inner {
  border-left: 5px solid #425cca;
  padding-left: 20px;
  background: #425cca;
  color: white; }
  .item_active .item__inner .title {
    color: white; }

.view {
  position: fixed;
  top: 5vh;
  left: 2.5vw;
  width: calc(70% - 5vw);
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 8vh); }
  .view .inner {
    position: relative;
    box-sizing: border-box;
    padding: 40px;
    height: 100%;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.title {
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 1.8em;
  line-height: 1;
  text-decoration: none;
  overflow-wrap: break-word;
  font-weight: 400;
  transition: opacity 200ms ease-in-out; }

.wrapper {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin: 5vh auto 0 auto; }

/*--- info --*/
.info {
  padding-bottom: 10%; }
  .info__title {
    font-size: 1.5em;
    font-weight: 700; }
  .info__date {
    font-size: 0.9em;
    color: #a2abbd; }

/*--- CODE --*/
.code {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .code__tabs {
    padding: 20px;
    overflow-x: auto;
    border: 1px solid #dee1e7;
    background: #fbfcfd; }
  .code__nav__item {
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 5px 20px;
    border: 1px solid #edeef2;
    background: #edeef2;
    cursor: pointer; }
    .code__nav__item_active {
      cursor: default;
      background: white;
      border: 1px solid #a2abbd; }

/*# sourceMappingURL=styles.css.map */
