@import 'functions';
@import 'mixins';
@import 'settings';
@import 'fonts';
@import 'prism';
//---COLORS
$base: #525e74;

/*--- GENERALS ---*/

body {
  font-family: $family-serif, Arial, sans-serif;
  font-size: 100%;
  @include smoothfonts;
  background: white;
  color: $base;
  font-weight: 300;
}


/*-- RESET --*/

button,
input {
  font-family: $family-serif, Arial, sans-serif;
}

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-shadow: none;
  box-shadow: none;
  background: $blue;
  cursor: pointer;
  border: 1px solid $blue;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  height: 28px;
  line-height: 27px;
  font-size: 13px;
  padding: 0 14px;
  position: absolute;
  bottom: 0;
  right: 20px;
  margin-bottom: 20px;
  &:focus {
    outline: 0;
  }
  &:hover {
    background: white;
    color: $blue;
  }
}

.grid {
  list-style: none;
  height: 100%;
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  @include flex;
}

.item {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.item__inner {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 20px 65px 25px;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  .title {
    font-size: 1.3em;
  }
  .description {
    font-size: 0.9em;
  }
}

.item_active {
  button {
    display: none;
  }
  .item__inner {
    border-left: 5px solid $blue;
    padding-left: 20px;
    background: $blue;
    color: white;
    .title {
      color: white;
    }
  }
}

.view {
  position: fixed;
  top: 5vh;
  left: 2.5vw;
  width: calc(70% - 5vw);
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 8vh);
  .inner {
    position: relative;
    box-sizing: border-box;
    padding: 40px;
    height: 100%;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.title {
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 1.8em;
  line-height: 1;
  text-decoration: none;
  overflow-wrap: break-word;
  font-weight: 400;
  transition: opacity 200ms ease-in-out;
}

.wrapper {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin: 5vh auto 0 auto;
}


/*--- info --*/

.info {
  padding-bottom: 10%;

  &__title {
    font-size: 1.5em;
    font-weight: 700;
  }
  &__date{
    font-size: 0.9em;
    color: lighten($base, 30%);
  }
}


/*--- CODE --*/

.code {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.9em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;  
  &__tabs {
    padding: 20px;
    overflow-x: auto;
    border: 1px solid lighten($base, 50%);
    ;
    background: lighten($base, 60%);
  }
  &__nav {
    &__item {
      display: inline-block;
      margin: 0 5px 10px 0;
      padding: 5px 20px;
      border: 1px solid lighten($base, 55%);
      background: lighten($base, 55%);
      cursor: pointer;
      &_active {
        cursor: default;
        background: white;
        border: 1px solid lighten($base, 30%);
      }
    }
  }
}